{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
    <div>
        <ul>
            <h1> {{ title }} </h1>
            {% for object in object_list %}
                <li> {{object}} </li>
            {% endfor %}
        </ul>
    </div>

        <div>
           <form action="#" method="post" id="post">
               <label for="createcategory">Add New Category:</label>
               <input type="text" id="createcategory" name="createcategory">
               <br><br>
               <input type="submit" value="Submit">
           </form>
        </div>

{% endblock %}