{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1> This is a page devoted to the course: {{ object_list['course'].get_courseName['Course name'] }} </h1>

    <p>Assigned students:</p>
        {% for assigned_student in object_list['course'].assignedStudents %}
            <li> <a href="/student/{{ assigned_student.id }}">
                {{ assigned_student.last_name }}, {{ assigned_student.first_name }}</a>
            </li>
        {% endfor %}
    <br>
    {% if object_list['available_students'] %}
        <p>Available students:</p>

        <form action="#" method="post" id="post">

            <input type="hidden" id="addstfirstname" name="course"
                   value="{{ object_list['course'].get_courseName['Course name'] }}">

           <select id="available_student" name="assigning_student_id">
                {% for available_student in object_list['available_students'] %}
                    <option value="{{ available_student['id'] }}">
                        {{ available_student['last_name'] }},
                        {{ available_student['first_name'] }}
                    </option>
                {% endfor %}
           </select>

        <input type="submit" value="Enroll">
        </form>
    {% endif %}

{% endblock %}
